# ======================
# NEXT.JS / Node.js
# ======================
node_modules/
.next/
.env

# ======================
# .NET Core / ASP.NET
# ======================
bin/
obj/
*.db

# ======================
# Editor/OS
# ======================
.vscode/
.DS_Store
Thumbs.db
